In [2]:
%matplotlib inline
#%matplotlib notebook

import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import urllib
from pandas_datareader import data
from pandas_datareader import wb as web
import pandas as pd
import datetime

from IPython.core.display import HTML
css = open('../style-table.css').read() + open('../style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [5]:
import quandl

In [7]:
df = quandl.get('WIKI/GOOGL')
df.tail()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2017-10-02,975.65,977.7400,961.950,967.47,1466444.0,0.0,1.0,975.65,977.7400,961.950,967.47,1466444.0
2017-10-03,967.56,972.4400,962.705,972.08,1080312.0,0.0,1.0,967.56,972.4400,962.705,972.08,1080312.0
2017-10-04,971.76,974.4000,965.610,966.78,896531.0,0.0,1.0,971.76,974.4000,965.610,966.78,896531.0
2017-10-05,972.79,986.5085,970.270,985.19,1627255.0,0.0,1.0,972.79,986.5085,970.270,985.19,1627255.0
2017-10-06,980.00,994.2600,978.510,993.64,1490744.0,0.0,1.0,980.00,994.2600,978.510,993.64,1490744.0